<div>
    <h4 class="text-primary pt-3">Child Component</h4>
    <input id="nametemp" @attributes="InputAttributes"/>
</div>
@code {
    //[Parameter]
    //public string Placeholder { get; set; }
    //[Parameter]
    //public string Required { get; set; }
    //[Parameter]
    //public int MaxLength { get; set; }
    [Parameter]
    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>()
    {
        {"required", "required"},
        {"placeholder", "Enter name from parent"},
        {"maxlength", 5}
    };
}
